from pathlib import Path

from treenode.admin import TreeNodeModelAdmin

BASE_DIR = Path(__file__).resolve().parent

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = []

# Leave empty to use defaults
SITE_TITLE = ''
SITE_HEADER = ''

# Internationalization
# https://docs.djangoproject.com/en/3.2/topics/i18n/

LANGUAGE_CODE = "en-us"

TIME_ZONE = 'Europe/Rome'


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/3.2/howto/static-files/

STATIC_URL = '/static/'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        # For local development:
        'NAME': BASE_DIR / 'db.sqlite3',
        # For Docker:
        # 'NAME': '/data/db.sqlite3',
    }
}

LOCATIONS_DISPLAY_MODE = TreeNodeModelAdmin.TREENODE_DISPLAY_MODE_ACCORDION
CATEGORIES_DISPLAY_MODE = TreeNodeModelAdmin.TREENODE_DISPLAY_MODE_BREADCRUMBS
