{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
    move-to-other-location{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% translate 'Add sections to {{ locator }}' %}
    </div>
{% endblock %}

{% block content %}
    <p>
    {% blocktranslate %}
        This functionality allows you to quickly subdivide a location into sections. This makes it easier to identify
        locations inside cabinets, bookshelves and racks by associating them to a coordinate-like locator code.
    {% endblocktranslate %}
    </p>
    <p>
    {% blocktranslate %}
        The result will be a set of new location with a locator that looks like PrefixRowColumn, such as SH.3C if you
        use "SH." as locator prefix. Or such as "DR.2" if you use "DR." as locator prefix and only request one column.
    {% endblocktranslate %}
    </p>
    <div style="display: flex; flex: fit-content; align-content: space-evenly; flex-wrap: wrap">
        <div style="flex: max-content; padding: 20px">
            {% translate "Tabular bookshelf / rack" %}
            <table>
                <tr><td>SH.0A</td> <td>SH.0B</td> <td>SH.0C</td> <td>SH.0D</td></tr>
                <tr><td>SH.1A</td> <td>SH.1B</td> <td>SH.1C</td> <td>SH.1D</td></tr>
                <tr><td>SH.2A</td> <td>SH.2B</td> <td>SH.2C</td> <td>SH.2D</td></tr>
                <tr><td>SH.3A</td> <td>SH.3B</td> <td><strong>SH.3C</strong></td> <td>SH.3D</td></tr>
            </table>
        </div>
        <div style="flex: max-content; padding: 20px">
            {% translate "Bookshelf / drawers" %}
            <table>
                <tr><td>DR.0</td></tr>
                <tr><td>DR.1</td></tr>
                <tr><td><strong>DR.2</strong></td></tr>
                <tr><td>DR.3</td></tr>
            </table>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div style="padding-top: 20px;">
            <h2>{% translate "Settings" %}</h2>
            <div>
                <p><label for="name_prefix">{% translate "Name prefix" %}:</label></p>
                <p><input type="text" id="name_prefix" name="name_prefix" value="{% translate "Shelf" %}"></p>
            </div>
            <div>
                <p><label for="locator_prefix">{% translate "Locator prefix" %}:</label></p>
                <p><input type="text" id="locator_prefix" name="locator_prefix" value=""></p>
            </div>
            <div>
                <p><label for="columns">{% translate "Columns" %}:</label></p>
                <p><input type="number" id="columns" name="columns" min="0" value="1"></p>
            </div>
            <div>
                <p><label for="rows">{% translate "Rows" %}:</label></p>
                <p><input type="number" id="rows" name="rows" min="0" value="1"></p>
            </div>
        </div>
        <div>
            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
            {% endfor %}
            <input type="hidden" name="action" value="create_sections">
            <input type="hidden" name="post" value="yes">
            <input type="submit" value="{% translate 'Create' %}">
            <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
